body {
  background-color: #3965c362;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  .centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .button{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
  }

  .button2{
   
    border: none;
    border-radius: 1.5rem;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 8%;
    height: 1%;
    cursor: pointer;
  }