<!doctype html>
<html lang="en">

<head>
    <title>Official</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <link href="../static/css/vet.css" rel="stylesheet">
</body>

<div>
    <table class="table center" style="max-width: 85%">
        <td>
            <a href="{% url 'logout' %}">
            <button class="button2" id="Log out" type="button">Log Out</button></a>
        </td>
    </table>
</div>

<img class="centerIMG" src="../static/images/Logo c4p.png" width="284" height="199">
<br>
<h3 style="text-align: center;">Welcome!</h3>
<table class="table center" style="max-width: 40%">

    <div>

        <thead>
            <tr>
                <th scope="col"style="text-align: center;">Username</th>
                <th scope="col"style="text-align: center;">Name</th>
    
            </tr>
        </thead>
        <tbody>
            <tr>

                <td style="text-align: center;">{{user.username}}</td>
                <td style="text-align: center;">{{user.official.name}}</td>
            </tr>
        </tbody>
    </div>
</table>
<br>

<h3 style="text-align: center;">Owner's list</h3>
<br>
<!---------------------------------------------------------------Owner's TABLE-------------------------------------------------------------------->

<table id="ownersTable"   class="table center" style="max-width: 85%">
    <input type="text" class="search" id="imputOwnersTable" onkeyup="searchOwnerTable()" placeholder="Type to search...">
    <div>
        
        <thead>
            <tr>
                <th scope="col">Owner's ID</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Neighborhood</th>
               
                
            </tr>
        </thead>
        <tbody>
            {% if owners %}
                {% for owner in owners %}
            <tr>
                <th>{{ owner.id }}</th>
                <td>{{ owner.userapp.username }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ owner.neighborhood }}</td>
                
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </div>
</table>

<h3 style="text-align: center;">List of pets</h3>

<!---------------------------------------------------------------Pet's TABLE-------------------------------------------------------------------->
<table id="petTable" class="table center" style="max-width: 85%">
    <input type="text" class="search" id="imputPetTable" onkeyup="searchPetTable()" placeholder="Type to search...">
    <div>
        <thead>
            <tr>
                <th scope="col">Microchip</th>
                <th scope="col">Race</th>
                <th scope="col">Birth year</th>
                <th scope="col">Name</th>
                <th scope="col">Species</th>
                <th scope="col">Size</th>
                <th scope="col">Sex</th>
                <th scope="col">Dangerous?</th>
                <th scope="col">Sterilized?</th>
                
                <th scope="col">Vet visits</th>
                <th scope="col">Case</th>
            </tr>
        </thead>
        <tbody>
            {% if pets %}
                {% for pet in pets %}
            <tr>
                <th>{{ pet.microchip }}</th>
                <td>{{ pet.race }}</td>
                <td>{{ pet.birth }}</td>
                <td>{{ pet.name }}</td>
                <td>{{ pet.species }}</td>
                <td>{{ pet.size }}</td>
                <td>{{ pet.sex }}</td>
                <td>{{ pet.dangerous }}</td>
                <td>{{ pet.sterilized }}</td>
                <td><button type="button" class="button" data-toggle="modal" data-target="#vetVisitModal">See</button>
                </td>
                <td><button type="button" class="button" data-toggle="modal" data-target="#caseModal">See</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
             
</table>

<!--------------------------------------------------------------Vet Visit MODAL-------------------------------------------------------------->
<div class="modal fade" id="vetVisitModal" tabindex="-1" role="dialog" aria-labelledby="vetVisitModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vetVisitModal">Vet visits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table center">
                    <tr>
                        <th scope="col">Visit ID</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Vet ID</th>
                        <th scope="col">Pet ID</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>2021/11/27 20:20</td>
                        <td>Sterilization</td>
                        <td>All wet good</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>2021/11/27 20:20</td>
                        <td>Vaccination</td>
                        <td>All wet good</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>2021/11/27 20:20</td>
                        <td>Control</td>
                        <td>All wet good</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------Case MODAL-------------------------------------------------------------->
<div class="modal fade" id="caseModal" tabindex="-1" role="dialog" aria-labelledby="caseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="caseModal">Add/See Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table center">
                    <tr>
                        <th scope="col">Case Type</th>
                        <th scope="col">Description</th>
                    </tr>
                    <tr>
                        <th>Lost</th>
                        <td>lost near the park</td>
                    </tr>
                    <tr>
                        <th>Died</th>
                        <td>My pet died :(</td>
                    </tr>
                </table>
                
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------------Search Functions-------------------------------------------------------------->
<script>
    function searchOwnerTable() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("imputOwnersTable");
        filter = input.value.toUpperCase();
        table = document.getElementById("ownersTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                let tdata = td[j];
                if (tdata) {
                    if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>
<script>
    function searchPetTable() {

        var input, filter, table, tr, td, i;
        input = document.getElementById("imputPetTable");
        filter = input.value.toUpperCase();
        table = document.getElementById("petTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                let tdata = td[j];
                if (tdata) {
                    if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>

</html>