<!doctype html>
<html lang="en">

<head>
    <title>Owner</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link href="../static/css/Owner.css" rel="stylesheet">
</body>

<div>
    <table class="table center" style="max-width: 85%">
            <td>
                <button class="button2" onclick=" location.href='../'"   id="Log out" type="button">Log Out</button>
            </td>
    </table>
</div>

<img class="centerIMG" src="../static/images/Logo c4p.png" width="284" height="199">
<br>
<h3 style="text-align: center;">Welcome!</h3>
<table class="table center" style="max-width: 85%">
  
    <div>
        
        <thead>
            <tr>
                <th scope="col">Your ID</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Neighborhood</th>
                <th scope="col">Edit</th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th>{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.owner.name}}</td>
                <td>{{user.owner.address}}</td>
                <td>{{user.owner.neighborhood}}</td>
                <td><button type="button" class="button" data-toggle="modal" 
                    data-target="#editUserModal" href="{% url 'editOwner'%}">Edit</button>
                </td>
            </tr>
        </tbody>
    </div>
</table>



<h3 style="text-align: center;">List of pets</h3>
<!---------------------------------------------------------------TABLE------------------------------------------------------------------------>
<table class="table center" style="max-width: 85%">
    <div>
        <thead>
            <tr>
                <th scope="col">Microchip</th>
                <th scope="col">Race</th>
                <th scope="col">Birth year</th>
                <th scope="col">Name</th>
                <th scope="col">Species</th>
                <th scope="col">Size</th>
                <th scope="col">Sex</th>
                <th scope="col">Dangerous?</th>
                <th scope="col">Sterilized?</th>
                <th scope="col">Picture</th>
                <th scope="col">Vet visits</th>
                <th scope="col">Case</th>
            </tr>
        </thead>
        <tbody>
            {% if pets %}
            {% for pet in pets %}
            <tr>
                <th>{{pet.microchip}}</th>
                <td>{{pet.race}}</td>
                <td>{{pet.birth}}</td>
                <td>{{pet.name}}</td>
                <td>{{pet.species}}</td>
                <td>{{pet.size}}</td>
                <td>{{pet.sex}}</td>
                <td>{{pet.dangerous}}</td>
                <td>{{pet.sterilized}}</td>
                <td><button type="button" class="button" data-toggle="modal"
                        data-target="#galleryModal{{pet.id}}">Gallery</button></td>
                <td><button type="button" class="button" data-toggle="modal" data-target="#vetVisitModal{{pet.id}}">See</button>
                </td>
                <td><button type="button" class="button" data-toggle="modal" data-target="#caseModal{{pet.id}}">See</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <td><button type="button" class="button" data-toggle="modal" data-target="#addPetModal">Add new Pet</button>
        </td>
        <td><button type="button" class="button" onclick=" location.href='../addPetCase/'">Add new Pet Case</button>
        </td>
</table>

<!--------------------------------------------------------------Add Pet MODAL-------------------------------------------------------------->
<div class="modal fade " id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModal">Add new Pet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>
                            <label>Birth year:</label> <br>
                            {{ form.birth }}
                        </p>
                        <p>
                            <label>Pet's name:</label> <br>
                            {{ form.name }}
                        </p>
                        <p>
                            <label>Microchip:</label> <br>
                            {{ form.microchip }}
                        </p>
                        <p>
                            <label>Species:</label> <br>
                            {{ form.species }}
                        </p>
                        <p>
                            <label>Race:</label> <br>
                            {{ form.race }}
                        </p>
                        <p>
                            <label>Sex:</label> <br>
                            {{ form.sex }}
                        </p>
                        <p>
                            <label>Size:</label> <br>
                            {{ form.size }}
                        </p>
                        <p>
                            <label>Is it potentially dangerous?:</label> <br>
                            {{ form.dangerous }}
                        </p>
                        <p>
                            <label>Is it sterilized?:</label> <br>
                            {{ form.sterilized }}
                        </p>
                    </div>
                    
            </div>
            <div class="modal-footer">
                {{ form.picture. }}
                <button type="submit" class="btn btn-primary">Add Pet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </form>
        </div>
    </div>
</div>

{% if pets %}
    {% for pet in pets %}
<!---------------------------------------------------------------Gallery MODAL---------------------------------------------------------------->
<div class="modal fade" id="galleryModal{{pet.id}}" tabindex="-1" role="dialog" aria-labelledby="galleryModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModal">Gallery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Add content here
            </div>
            <div class="modal-footer">
                    <form class="button" action="/action_page.php">
                        <label for="img">Upload image:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit">
                      </form>
                <button type="button" class="button " style="max-width: 15%;"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}


<!--------------------------------------------------------------Vet Visit MODAL-------------------------------------------------------------->
{% if pets %}
    {% for pet in pets %}
<div class="modal fade" id="vetVisitModal{{pet.id}}" tabindex="-1" role="dialog" aria-labelledby="vetVisitModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vetVisitModal">Vet visits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table center">
                    <tr>
                        <th scope="col">Visit ID</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Vet ID</th>
                        <th scope="col">Vet Name</th>
                        <th scope="col">Pet ID</th>
                    </tr>
                    <tbody>
                        {% if visits %}
                            {% for visit in visits %}
                        <tr>
                            {% if visit.pet_id == pet.id%}
                                <td>{{ visit.id }}</td>
                                <td>{{ visit.created_at }}</td>
                                <td>{{ visit.type}}</td>
                                <td>{{ visit.description }}</td>
                                <td>{{ visit.vet_id }}</td>
                                <td>{{ visit.vet.name }}</td>
                                <td>{{ visit.pet_id }}</td>
                            {% endif %}
                        </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}

<!--------------------------------------------------------------Case MODAL-------------------------------------------------------------->

{% if pets %}
    {% for pet in pets %}
<div class="modal fade" id="caseModal{{pet.id}}" tabindex="-1" role="dialog" aria-labelledby="vetVisitModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vetVisitModal">Pet Cases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table center">
                    <tr>
                        <th scope="col">Case Type</th>
                        <th scope="col">Description</th>
                    </tr>
                    <tbody>
                        {% if petcases %}
                            {% for petcase in petcases %}
                        <tr>
                            {% if petcase.pet_id == pet.id%}
                                <th>{{ petcase.type }}</th>
                                <td>{{ petcase.description }}</td>
                            {% endif %}
                        </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}
</html>